services:
  # ------------ FRONTEND ------------
  - type: static
    name: pasos-sin-limites-frontend
    branch: master
    rootDir: frontend-auth
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_API_BASE_URL
        value: https://backend-pasos-sin-limites.onrender.com
